<launch>
  <!-- 1) 世界启动 -->
  <include file="$(find uuv_gazebo_worlds)/launch/auv_underwater_world_black.launch"/>

  <!-- 2) AUH 初始位姿 -->
  <arg name="auh_x"     default="-5"/>
  <arg name="auh_y"     default="-5"/>
  <arg name="auh_z"     default="-70"/>
  <arg name="auh_roll"  default="0"/>
  <arg name="auh_pitch" default="0"/>
  <arg name="auh_yaw"   default="0"/>

  <!-- 2.1 上载 AUH 模型描述（传入位姿参数） -->
  <include file="$(find auh_description)/launch/upload_auh_docking.launch">
    <arg name="x"     value="$(arg auh_x)"/>
    <arg name="y"     value="$(arg auh_y)"/>
    <arg name="z"     value="$(arg auh_z)"/>
    <arg name="roll"  value="$(arg auh_roll)"/>
    <arg name="pitch" value="$(arg auh_pitch)"/>
    <arg name="yaw"   value="$(arg auh_yaw)"/>
  </include>

  <!-- 3) 推进器管理器 -->
  <include file="$(find auh_thrust_manager)/launch/thrust_manager.launch"/>

    <!-- 启动变量提取器 -->
  <node pkg="variable_extractor"
        type="variable_extractor_node"
        name="variable_extractor_node"
        output="screen">
    <param name="vehicle_name" value="auh" />
    <param name="debug" value="false" />
  </node>

  <!-- 启动控制器管理器 -->
  <node pkg="controller_manager"
        type="controller_manager_node"
        name="controller_manager_node"
        output="log">
    <param name="controllers_config" value="$(find controller_manager)/config/controllers.yaml" />
  </node>

  <!-- 4) Spawn SDS 静态障碍物 -->
  <arg name="sds_x"     default="0"/>
  <arg name="sds_y"     default="0"/>
  <arg name="sds_z"     default="-79.8"/>
  <arg name="sds_roll"  default="0"/>
  <arg name="sds_pitch" default="0"/>
  <arg name="sds_yaw"   default="0"/>
  
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_sds_static" output="screen"
        args="-urdf
              -file $(find sds_description)/urdf/sds_static.urdf
              -model sds
              -x $(arg sds_x) -y $(arg sds_y) -z $(arg sds_z)
              -R $(arg sds_roll) -P $(arg sds_pitch) -Y $(arg sds_yaw)"/>

  <node pkg="docking_optical_vision"
        type="docking_optical_vision_node"
        name="docking_optical_vision"
        output="log">
    <rosparam command="load" file="$(find docking_optical_vision)/config/vision.yaml"/>
  </node>

  <!-- 5) docking_nav 参数加载 -->
  <rosparam command="load"
            file="$(find docking_nav)/config/docking_node.yaml"
            ns="docking_nav" />
  <rosparam command="load"
            file="$(find docking_nav)/config/docking_topics.yaml"
            ns="docking_nav" />
  <node pkg="docking_nav"
        type="docking_nav_node"
        name="docking_nav"
        output="screen"/>

  <!-- 6) docking_nav_roshelm -->
  <rosparam command="load"
            file="$(find ros_helm)/config/ros/params.yaml"
            ns="docking_nav_roshelm_node" />
  <rosparam command="load"
            file="$(find docking_nav)/config/docking_topics.yaml"
            ns="docking_nav_roshelm_node" />
  <node pkg="docking_nav"
        type="docking_nav_roshelm_node"
        name="docking_nav_roshelm_node"
        output="screen">
    <param name="config_path" value="$(find docking_nav)/config/helm/docking_startHelm.yaml" />
  </node>
 

</launch>
